<article>
  <div class="container">
    <header class="row adminl text-right">
      <div class="col">
        <%= link_to 'Principal', root_path, :class => 'adminlink' %>
      </div>
    </header>
  </div>
  <div class="container text-center">
    <header class="row">
      <h1 class="col">Renovacion Catolica Caristmatica</h1>
    </header>
  </div>
  <div class="container-fluid text-center title">
		<div class="row">
      <div class="col circle1"></div>
		  <h2 class="col-7 col-sm-3">Checkout</h2>
			<div class="col circle2"></div>
	  </div>
	</div>
  <div class="container text-center checkout">
    <p>Gracia por Registrarse<br />&hearts;</p>
  </div>
</article>
