<article>
  <div class="container">
    <header class="row adminl text-right">
      <div class="col">
        <%= link_to 'Principal', root_path, :class => 'adminlink' %>
      </div>
    </header>
  </div>
  <div class="container text-center">
    <header class="row">
      <h1 class="col">Renovacion Catolica Caristmatica</h1>
    </header>
  </div>
  <div class="container-fluid text-center title">
		<div class="row">
      <div class="col circle1"></div>
		  <h2 class="col-9 col-sm-3">Formación</h2>
			<div class="col circle2"></div>
	  </div>
	</div>
  <div class="container text-center">
    <div class="row">
      <section class="col-sm-12">
        <h3>Que es la formacion?</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Mollitia nostrum voluptatibus totam voluptates autem neque aliquid nam?
          Reprehenderit, beatae. Odit ut, odio sint deleniti consectetur. Itaque odit,
          tempore deserunt eos, ipsam commodi possimus earum aliquam. Qui voluptas ad
          sit explicabo voluptatum odio impedit, dignissimos praesentium eius architecto
          suscipit, corrupti, culpa asperiores nobis voluptate. Quis distinctio suscipit,
          ea incidunt quisquam, officiis architecto corrupti aspernatur amet quia
          dignissimos, sit consectetur! Saepe nostrum aperiam sit aspernatur quaerat,
          blanditiis dolor nulla temporibus iure ut, animi culpa vitae a harum quas quod
          quis autem nesciunt consequatur et illo eum est aliquid unde. Quae, aspernatur
          repellendus, neque ipsam itaque unde repudiandae nulla? Dignissimos cumque laudantium
          nihil quos! Autem aliquid dolores animi iusto unde, eveniet ipsam, aspernatur
          dolorem reiciendis ut reprehenderit impedit sunt nihil quibusdam. Totam earum,
          ratione quod architecto, vitae voluptate sed. Rerum vero eveniet cupiditate inventore.
          Reprehenderit maiores cumque voluptatum inventore aperiam quisquam esse itaque
          vitae sed ad consequuntur eaque vero veniam fugiat officiis excepturi, aspernatur
          qui ratione ea repellat quidem enim. Est nemo, inventore laudantium praesentium
          ducimus quaerat. Aliquam asperiores, voluptatibus fugiat rerum hic facere explicabo
          recusandae neque quibusdam unde veniam voluptates, illum magni ex accusamus nulla?
          Commodi corporis sequi minima, perspiciatis, numquam animi. Vero ducimus, dolorum
          excepturi alias deleniti velit similique molestias non porro odit veritatis voluptate
          iure, sed totam quam error nesciunt a esse culpa hic minus! Modi facilis voluptatum,
          quaerat dicta quam libero eos minus omnis tenetur laudantium debitis quae amet praesentium
          saepe quia eveniet similique assumenda, quisquam mollitia inventore exercitationem!</p>
      </section>
    </div>
  </div>
  <div class="container-fluid title">
		<div class="row">
			<footer class="col">
				<p class="text-center bye"><em>Que tengas un buen dia</em></p>
				<p>©2017 my website</p>
			</footer>
		</div>
  </div>
</article>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
