<article>
  <div class="container">
    <header class="row adminl text-right">
      <div class="col">
        <%= link_to 'Principal', root_path, :class => 'adminlink' %>
      </div>
    </header>
  </div>
  <div class="container text-center">
    <header class="row">
    	<h1 class="col">Renovacion Catolica Caristmatica</h1>
    </header>
  </div>
  <div class="container-fluid text-center title">
		<div class="row">
      <div class="col circle1"></div>
		  <h2 class="col-9 col-sm-5">Centro Guadalupano</h2>
			<div class="col circle2"></div>
	  </div>
	</div>
  <div class="container text-center">
  	<div class="row">
  		<section class="col-sm-12">
  			<h3>Quienes somos?</h3>
  			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
  				quo aspernatur cumque porro earum architecto deleniti aliquid
  				accusamus ex vitae autem dolores ut, alias et, iste minus odit,
  				corporis cum. Ex rem, soluta adipisci obcaecati non ullam minus,
  				aliquid. Illum quam dolorum eos ut obcaecati, nisi, earum dolorem
  				ad quos aspernatur labore. Corporis natus consequatur repudiandae
  				est. Doloribus asperiores minima accusantium sint nemo quam
  				veniam magnam nulla alias assumenda, cum quibusdam temporibus
  				porro velit ratione excepturi laboriosam repellendus
  				qui adipisci non natus esse! Voluptatem iusto quos
  				optio debitis voluptates, atque nobis pariatur
  				ducimus libero, recusandae delectus autem fugiat excepturi
  				at hic tenetur ab nemo in sed rerum eos. Voluptates hic,
  				fugiat dolore deleniti quaerat veniam omnis laborum
  				optio nulla.</p>
  		</section>
  	  <section class="col-sm-6">
  			<h3>Que hacemos?</h3>
  			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
  				quo aspernatur cumque porro earum architecto deleniti aliquid
  				accusamus ex vitae autem dolores ut, alias et, iste minus odit,
  				corporis cum. Ex rem, soluta adipisci obcaecati non ullam minus,
  				aliquid. Illum quam dolorum eos ut obcaecati, nisi, earum dolorem
  				ad quos aspernatur labore. Corporis natus consequatur repudiandae
  				est. Doloribus asperiores minima accusantium sint nemo quam
  				veniam magnam nulla alias assumenda, cum quibusdam temporibus
  				porro velit ratione excepturi laboriosam repellendus
  				qui adipisci non natus esse! Voluptatem iusto quos
  				optio debitis voluptates, atque nobis pariatur
  				ducimus libero, recusandae delectus autem fugiat excepturi
  				at hic tenetur ab nemo in sed rerum eos. Voluptates hic,
  				fugiat dolore deleniti quaerat veniam omnis laborum
  				optio nulla.</p>
  		</section>
  		<section class="col-sm-6">
  			<div class="carousel slide" id="featured" data-ride="carousel">
          <div class="carousel-inner">
  					<div class="carousel-item active">
  						<%= image_tag "Penguins(5 x 7).jpg", :class => "d-block img-fluid", :alt => "me" %>
  					</div>
  					<div class="carousel-item">
  						<%= image_tag "Tulips(5 x 7).jpg", :class => "d-block img-fluid", :alt => "me" %>
  					</div>
            <div class="carousel-item">
  						<%= image_tag "Lighthouse(5 x 7).jpg", :class => "d-block img-fluid", :alt => "Lighthouse" %>
            </div>
          </div>
  				<a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
  					<span class="carousel-control-prev-icon" aria-hidden="true">
  						<span class="sr-only">Previous</span>
  					</span>
  				</a>
  				<a class="carousel-control-next" href="#featured" role="button" data-slide="next">
  					<span class="carousel-control-next-icon" aria-hidden="true">
  						<span class="sr-only">Next</span>
  					</span>
  				</a>
  			</div>
      </section>
  		<section class="col-sm-12">
  			<h3>Que esperar?</h3>
  			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur
  				quo aspernatur cumque porro earum architecto deleniti aliquid
  				accusamus ex vitae autem dolores ut, alias et, iste minus odit,
  				corporis cum. Ex rem, soluta adipisci obcaecati non ullam minus,
  				aliquid. Illum quam dolorum eos ut obcaecati, nisi, earum dolorem
  				ad quos aspernatur labore. Corporis natus consequatur repudiandae
  				est. Doloribus asperiores minima accusantium sint nemo quam
  				veniam magnam nulla alias assumenda, cum quibusdam temporibus
  				porro velit ratione excepturi laboriosam repellendus
  				qui adipisci non natus esse! Voluptatem iusto quos
  				optio debitis voluptates, atque nobis pariatur
  				ducimus libero, recusandae delectus autem fugiat excepturi
  				at hic tenetur ab nemo in sed rerum eos. Voluptates hic,
  				fugiat dolore deleniti quaerat veniam omnis laborum
  				optio nulla.</p>
  		</section>
    </div>
  </div>
</article>
