<strong><span class="hint">&#42;</span>Nombre </strong><br />
<%= f.text_field(:title, :class => 'form-control') %><br />
<strong><span class="hint">&#42;</span>Fecha </strong><br />
<%= f.text_field(:date, :class => 'form-control') %><br />
<strong><span class="hint">&#42;</span>Typo </strong><br />
<%= f.text_field(:kind, :class => 'form-control') %><br />
<div class="container text-left">
  <span class="hint">&#42;Required</span>
</div><br />
