// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.adminl {
  margin-top: 5px;
}

.adminlink {
  @extend .btn;
  font-size: 15px;
  margin: 5px auto;
  padding: 3px;
}

.title {
  border-bottom: 5px $darkred solid;
  border-top: 5px $darkred solid;
  margin: 15px auto;
}

.circle1 {
  background-color: $white;
  margin: auto 0px auto auto;
  max-width:5px;
  height: 35px;
  border: 3px $darkred solid;
  border-radius: 20px;
  animation-name: circle;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.circle2 {
  background-color: $white;
  margin: auto auto auto 0px;
  max-width:5px;
  height: 35px;
  border: 3px $darkred solid;
  border-radius: 20px;
  animation-name: circle;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes circle {
  from {background-color: $white;}
  to {background-color: $darkred;}
}

.btn {
  color: $darkred;
  text-decoration: none;
  background: $white;
  border-radius: 10px;
  border: 1px $darkred solid;
  transition: .5s;
  &:hover {
    color: $white;
    background: $darkred;
    border: 1px $darkred solid;
    text-decoration: none;
  }
}

.button {
  @extend .btn;
  font-size: 20px;
  margin: 10px auto;
  padding: 5px;
}

.card {
  position: relative;
  margin: 15px auto;
  background-color: $white;
  border: 1px $darkred solid;
  transition: .5s;
  &:hover {
    box-shadow: 2px 2px 5px $darkred, -2px -2px 5px $darkred;
    transform: scale(1.05);
  }
}

.carousel {
  margin: 80px 10px 10px 10px;
  border: 5px $darkred solid;
  border-radius: 10px;
}

.blockquote-footer {
  color: inherit;
}


.thover {
  transition: .5s;
  &:hover {
    background-color: $darkred;
    color: $white;
  }
}

.contact {
  img {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 200px;
  max-width: 100%;
  height: auto;
  border: 5px $darkred solid;
  border-radius: 50%;
 }
}

.bye {
  font-size: 25px;
}

input[type=text], input[type=password], textarea#event_description, #card-element {
  padding: 10px;
  color: $darkred;
  border-radius: 10px;
  border: 1px $darkred solid;
  background-color: $white;
  transition: .5s;
}

input[type=text]::placeholder, input[type=password]::placeholder, textarea#event_description::placeholder {
  color: $darkred;
}

input[type=text]:focus, input[type=password]:focus, textarea#event_description:focus {
  background-color: $darkred;
  border: 1px $darkred solid;
  outline: none;
  box-shadow: none;
  color: $white;
}

input[type=text]:focus::placeholder, input[type=password]:focus::placeholder, textarea#event_description:focus::placeholder {
  color: $white;
}

select {
  color: $darkred;
  background-color: $white;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  border: 1px $darkred solid;
}

.hint {
  color: red;
}

.submit {
  cursor: pointer;
}

.login {
  margin: 23px auto;
}

.logout {
  margin: 20px;
}

.modal-header{
  border-bottom: 3px $darkred solid;
}

.modal-body {
  padding: 0px;
}

.modal-content {
  background-color: $white;
  color: $darkred;
}

.addmargin {
  margin: 10px 0px;
}

.modal-footer {
  border-top: 3px $darkred solid;
}

.chip {
  display: inline-block;
  margin: 5px;
  padding: 0 10px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 25px;
  background-color: $white;
  border: 2px $darkred solid;
  transition: .5s;
  a{
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:link {
      color: inherit;
    }
  }
  &:hover {
    color: $white;
    background-color: $darkred;
  }
}

.pcard {
  border-radius: 10px;
  height: 300px;
  background-color: $white;
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: 2px $darkred solid;
  .title {
    color: $darkred;
    font-size: 18px;
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
  }
}

.checkout {
  font-size: 50px;
  margin-top: 10%;
}

.registerhead {
  margin-bottom: 10px;
}

.basicinfo {
  padding: 0px;
  border-bottom: 3px $darkred solid;
  margin-bottom: 10px;
}

.Emergencyinfo {
  padding: 0px;
  border-bottom: 3px $darkred solid;
  border-top: 3px $darkred solid;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
